<p>
  advisories works!
</p>
<div class='table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th>Type</th>
        <th>Date</th>
        <th>Description</th>
        <th>ProductGroup</th>
        <th>ID</th>
        <th>ProdDate</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let adv of advisories'>
        <td>{{ adv.name }}</td>
        <td>{{ adv.product }}</td>
        <td>{{ adv.title}}</td>
        <td>{{ adv.advisoriesId}}</td>
        <td>{{ adv.effectiveDate}}</td>
      </tr>
    </tbody>
  </table>
</div>
